name: CI Pipeline

on:
  push:
    branches:
      - feature
  pull_request:
    branches:
      - feature

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y g++ cmake

      - name: Build C++ application
        run: |
          mkdir build
          cd build
          cmake ..
          make

