name: Docker Build

on:
  push:
    branches: [ main, develop, Feature-Branch ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t test-image .
